html {
  height: 100%;
}

body {
  background-image: url("../images/ticks.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
}

.col-6 {
  padding: 15px;
  margin: -10px auto;
  border-radius: 0;
  border: 1.3px solid #262626;
  background-color: #ffffffd6;
  font-size: 25px;
  text-align: justify;
}

h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 4vw;
  color: black;
  text-shadow: 3px 2px 4px darkgrey;
  font-family: "Sonsie One", cursive;
}

.player-item {
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;

  font-size: 0.9em;

  font-weight: bold;
}
.game-description {
  font-size: 20px;
  text-align: center;
}

.btn,
#submit {
  margin: auto;
  background-color: #262626;
  color: white;
  cursor: pointer;
}

#submit-player-card {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  /* padding: 2px; */
  background-color: #262626;
  color: white;
  cursor: pointer;
}

#submit-player-card:hover {
  color: white;
  background-color: #963333;
}

.btn:hover,
#submit:hover {
  color: white;
  background-color: #963333;
}
.container {
  padding: 10px;
  margin-top: 5px;
  font-size: 1.6em;
  color: black;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  text-align: center;
}
label {
  font-size: 0.9em;
  text-align: center;
  color: black;
  font-weight: bold;
}

.judge-countdown-holder,
#timer {
  margin-top: 20px;
  font-size: 0.9em;
  text-align: center;
  color: white;
  font-weight: bold;
}

.player-response-holder {
  background-color: white;
  font-size: 15px;
}

.game-id-holder,
h5,
p,
.prompt-row {
  margin-top: 15px;
  font-size: 0.9em;
  color: black;
  font-weight: bold;
}

.judge-prompt,
.show-judge-prompt-holder {
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}

#answer-input {
  margin: auto;
  padding: 3px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.ready-btn-join {
  padding: 5px 10px;
  border: solid 1px;
}

label {
  margin-bottom: 7px;
}

#nicknameInput,
#gameIDInput {
  border: solid 1px #262626;
  color: black;
  font-size: 15px;
}

.game-id-holder,
p {
  margin: 10px 0;
  padding: 10px 0;
  color: black;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 7px auto;
  padding: 5px auto;
}

#timer {
  color: white;
  font-size: 17px;
}

.prompt-row {
  color: white;
}

form {
  background-color: white;
  padding: 20px;
  max-width: 50%;
  margin: 0 auto;
}

span {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: black;
}

.card {
  padding: 5px;
  margin: auto;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  box-shadow: 5px rgb(255, 255, 255);
  border-width: 4px;
  border: solid;
}

@media only screen and (max-width: 574px) {
  h1 {
    font-size: 10vw;
    margin-bottom: 15px;
  }
  .col-6 {
    max-width: 80%;
  }

  form {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
  }
}

/* Deck selection button */
#deck-selection-button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  /* padding: 2px; */
  background-color: #262626;
  color: white;
  cursor: pointer;
}
