html {
  height: 100%;
}

body {
  background-image: url("../images/45degreee_fabric_@2X.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.col-12 {
  padding: 15px;
  margin: -10px auto;
  border-radius: 0;
  border:1.5px solid #100950;
background-color: #ffffffD6;
  width: 25%;
 

}


h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 4.2em;
    color: rgb(248, 248, 248);
    text-shadow: -2px -2px 0 #100950, 2px -2px 0 #100950, -2px 2px 0 #100950,
      2px 2px 0 #100950;
  
    /* transform: rotate(-6deg); */
  }

  .btn {
margin: auto;
    background-color: #100950;
    color: white;
  }

  label {
    font-size: 1.3em;
    text-align: center;
    color: #100950;
    font-weight: bold;
  }

  .judge-countdown-holder {
      margin-top: 15px; 
    font-size: 1.3em;
    text-align: center;
    color: #100950;
    font-weight: bold;
  }

  .show-judge-prompt-holder, .judge-prompt, .game-id-holder, h5, p{
    margin-top: 15px; 
    font-size: 1.3em;
    /* text-align: center; */
    color: #100950;
    font-weight: bold;
   
  }
